{% extends 'flatpages/default.html' %}

{% block content %}
<h1>Публикация</h1>
<hr>
<span style="color: #ffffff;">
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
    </span>
{% endblock content %}

{% block authors %}
{% if is_not_authors %}
<li class="nav-item"><a class="nav-link" href="/news/upgrade/"> Хочу стать Автором</a></li>
{% else %}
<li class="nav-item"><a class="nav-link" href="">Вы стали автором</a></li>
{% endif %}

{% endblock authors %}